body {
    background-color: #F5F5F5;
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

.twitter-timeline {
    margin-bottom: -4px !important;
    background-color: white;
}

.twitter-widget {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .13);
    margin-top: 13px;
}

.twitter-widget-header {
    align-items: center;
    background-color: #44a1e3;
    display: flex;
    flex-shrink: 0;
    padding: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .32) inset;
    border: 1px solid rgba(0, 0, 0, .32);
    font-size: smaller;
}

.twitter-widget-header > span > b {
    font-size: medium;
}

.twitter-widget-footer {
    background-color: #44a1e3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .32) inset;
    border: 1px solid rgba(0, 0, 0, .32);
}

.twitter-widget-footer a {
    color: #fff;
    font-weight: 700;
    transition: opacity .25s ease-out;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .17);
    font-size: 12px;
}

.twitter-widget-footer a:hover {
    opacity: .6;
}

.shiny {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.32), inset 0 0 0 2px rgba(255, 255, 255, 0.19);
}

#wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 125px;
    min-height: 100vh !important;
}

#login {
    border-radius: 6px;
    border-color: #ece8f1;
    transition: all 0.3s;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
    height: 100%;
    padding: 7px 15px;
    padding-left: 0;
    width: auto;
}

footer {
    padding: 100px;
    padding-bottom: 75.5px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #282828;
}

@media (max-width: 767px) {
    .navbar-brand > img {
        padding-left: 15px;
    }

    .navbar li {
        text-align: center;
    }

    #login {
        border-color: transparent;
    }

    .navbar-right li:last-of-type {
        padding-right: 8px !important;
    }

    #content {
        overflow: visible !important;
    }

    #search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    #search-form .form-group {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #search {
        width: 100%;
        flex: 1;
    }

    footer {
        text-align: center;
        padding: 5em;
        padding-left: 5px;
        padding-right: 5px;
        position: static;
    }

    footer img {
        margin-bottom: 10px;
    }

    #wrapper {
        padding-bottom: 0;
    }
}

.navbar li.active a {
    background-color: inherit !important;
}

.navbar li a, .navbar li button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.4em;
    text-indent: 0.4em;
    font-size: 0.7em;
    color: #ece8f1 !important;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px solid transparent;
    background-color: transparent;
    transition: color 0.3s;
}

.navbar li a:hover {
    color: #ece8f1 !important;
}

#login:hover {
    border-color: #ece8f1 !important;
}

.navbar li {
    padding: 8px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.navbar-right li:last-of-type {
    padding-right: 0;
}

header {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .23);
    min-height: 50px;
}

.navbar {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}

footer img {
    width: 100px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

footer li {
    display: inline;
}

footer li a {
    padding: 10px;
    text-transform: uppercase;
    color: #4F4F4F;
    font-weight: 900;
    font-size: 9px;
    letter-spacing: 4px;
    text-indent: 4px;
}

footer li a {
    color: #4F4F4F;
}

.navbar-brand:hover {
    opacity: 0.75;
}

.navbar-brand {
    transition: all 0.5s;
}

#header h1 {
    font-size: 2em;
    color: white;
    font-weight: 900;
    letter-spacing: 20px;
    text-indent: 20px;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 7px;
}

#header h2 {
    margin: 0;
    margin-top: -2px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.7em;
    color: #e8e3ec;
}

#content {
    background-color: white;
    margin-top: -75px;
    border-radius: 6px;
    height: auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .13);
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

header {
    box-shadow: none;
}

header {
    background: url(images/header-bg.png) center;
    background-size: cover;
    background-repeat: no-repeat;
}

header, #header {
    padding-bottom: 72px;
}

#container-body {
    position: relative;
    z-index: 98;
}

footer a {
    text-decoration: none !important;
    color: #4F4F4F;
    transition: color 0.3s;
}

#languages {
    position: absolute;
    color: white;
    right: 0;
    padding: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

#languages .dropdown-menu {
    width: calc(100% + 215px);
    position: absolute;
    left: -80px;
}

.user {
    transform: scale(0.9) translateX(3.5%) translateY(3.75%);
    text-align: center;
    background-color: white;
}

.user-border {
    background-color: white;
}

.user img {
    display: block;
    width: 85%;
    text-align: left;
    margin-left: -4px;
}

.user-parent {
    transform: scaleX(-1);
    margin-top: -7.5px;
    height: 40px;
    width: 40px;
    margin-left: -20px;
}

#user-menu-button .dropdown-menu {
    margin: 0;
    left: -128px;
    top: 20px;
    border-radius: 6px;
    z-index:98;
    width: 120px;
    padding: 5px;
    text-align: center;
}

#user-menu-button .dropdown-toggle {
    padding-right: 0;
}

#user-menu-button .dropdown-menu li {
    padding: 0;
    text-align: left;
}

#user-menu-button .dropdown-menu li:first-of-type a i {
    font-size: 16.5px;
}

#user-menu-button i {
    font-size: 13px;
    width: 15px;
}

#search {
    background: none;
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #ece8f1;
    border-radius: 6px;
    font-size: 11px;
    letter-spacing: 1px;
    text-indent: 1px;
    color: #ece8f1;
    font-weight: 700;
    width: 180px;
    height: 28px;
    padding-left: 25px;
    font-family: 'FontAwesome', 'Raleway', sans-serif;
}

#search::placeholder {
    font-weight: 700;
    letter-spacing: 1px;
    text-indent: 1px;
    color: #ece8f1;
}

#search-form i {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 13px;
    color: #ece8f1;
}

#search-form {
    margin-top: 11px;
    padding-right: 19px;
}

input {
    outline: none !important;
}

#user-menu-button .dropdown-menu a, #user-menu-button .dropdown-menu button {
    padding: 0;
    background-color: white !important;
    width: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-indent: 2px;
}

#user-menu-button .dropdown-menu li span {

}

#user-menu-button .dropdown-menu button {
    padding: 0;
}

#user-menu-button svg {
    position: relative;
    z-index:99;
}

.typeahead.dropdown-menu {
    margin-top: 5px;
    border-radius: 6px;
}

.typeahead.dropdown-menu li {
    padding: 0;
}

.typeahead.dropdown-menu li a {
    text-transform: none;
    letter-spacing: 1px;
    text-indent: 1px;
    color: #232323 !important;
}

.pagination {
    margin-left: -15px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0;
}

.pagination li a i {
    font-size: 12px;
}

.pagination li a {
    border: 0;
    border-radius: 6px;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .13);
    padding: 7.5px 15px;
    font-weight: 900;
    font-size: 15px;
    color: #8c8c8c;
    transition: color 0.2s;
    cursor: pointer;
}

.pagination li.disabled a {
    opacity: 0.66;
}

.pagination li.active a {
    cursor: pointer !important;
}

.pagination li a:hover, .pagination li.active a:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.2);
}

.pagination li.active a {
    background-color: white;
    color: #5a5a5a;
}

.pagination li {
    margin-right: 15px;
}

@media (max-width: 1000px) {
    #search {
        width: 120px;
    }
}


.nav .dropdown-menu li a, .nav .dropdown-menu li button {
    color: #9d9d9d !important;
}

.discord-widget {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .13);
}

.discord-widget iframe {
    width: 100%;
    height: 500px;
}
.inner-discord {
    height: 450px;
    overflow: hidden;
}

html.dark-mode .header {
	background: #23272a !important;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .23) !important;
}

html:not(.dark-mode) #discordw-dark {
	display: none !important;
}

html.dark-mode #discordw-light {
	display: none !important;
}

.discord-widget-footer {
    background-color: #7289da;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .32) inset;
    border: 1px solid rgba(0, 0, 0, .32);
}


.discord-widget {
	position: relative;
}

.discord-widget-footer a {
    color: #fff;
    font-weight: 700;
    transition: opacity .25s ease-out;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .17);
    font-size: 12px;
}

.discord-widget-footer a:hover {
    opacity: .6;
}

/*.discord-widget-header {
    z-index : 10;
    width: 370px;
    position: absolute;
    align-items: center;
    background-color: #7289da;
    display: flex;
    flex-shrink: 0;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .32) inset;
    border: 1px solid rgba(0, 0, 0, .32)
}*/
.discord-widget-header {
	z-index : 10;
    align-items: center;
    position: absolute;
	width: 100%;
	height: 15.5%;
    background-color: #7289da;
    display: flex;
    flex-shrink: 0;
    padding: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.32) inset;
    border: 1px solid rgba(0,0,0,.32)
}

.discord-widget-header .logo {
    background: url("https://raw.githubusercontent.com/MinnHQ/qAssets/main/discord-logo.svg") 50% no-repeat;
    background-size: 124px 34px;
    display: inline-block;
    height: 34px;
    transition: opacity .25s ease-out;
    width: 124px
}

.discord-widget-header .logo:hover {
    opacity: .6
}

.discord-widget-header .count {
    flex: 1;
    text-align: right
}
/*
     FILE ARCHIVED ON 16:36:29 Jun 12, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:15:25 Feb 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 58.18
  exclusion.robots: 0.092
  exclusion.robots.policy: 0.084
  RedisCDXSource: 0.729
  esindex: 0.008
  LoadShardBlock: 35.412 (3)
  PetaboxLoader3.datanode: 87.048 (5)
  CDXLines.iter: 18.681 (3)
  load_resource: 109.384 (2)
  PetaboxLoader3.resolve: 51.033 (2)
*/